#client{
    width: 100%;
    height: 500px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    overflow-x: hidden;

}
.client-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center
}
.client-header h6{
    color: #00BB98;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin: 1rem 0;
}
.client-header h3{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    margin: 1rem 0;
}
.client-container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    padding:  1rem 2rem;
    box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
    border-radius: 10px;
}
.card .card-header{
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0;
}
.card .card-header h3{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 26px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}
.card .card-header h6{
    font-size: 0.8rem;
    line-height: 26px;
    font-weight: 300;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: #000B33;
    opacity: 0.7;
}
.card p{
    width: 300px;
    font-size: 1rem;
    line-height: 30px;
    text-align: start;
    line-height: 1rem;
    color: #000B33;
    opacity: 0.8;
}
.left{
    position: absolute;
    left: 40px;
    top: 310px;
}
.right{
    position: absolute;
    right:40px;
    top: 310px;
}
@media(min-width:0px) and (max-width:480px){
    #client{
        width: 100%;
        height: 1100px;
        position: relative;
        overflow-x: hidden;
    }
    .client-header h6{
        font-size: 1rem;
    }
    .client-header h3{
        font-size: 1.5rem;
    }
    .client-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .left{
        position: absolute;
        top: 1050px;
        left: 100px;
    }
    .right{
        position: absolute;
        top: 1050px;
        right: 100px;

    }
   
}   

@media(min-width:1500px){
    #client{
        width: 100%;
    }

    .client-container{
        width: 85%;
    }
    .client-container .card{
        width: 420px;
        height: 250px;
        padding: auto;
    }
}

