#nav{
    width: 100%;
    margin: 0 0;
    overflow-x: hidden;

}
.nav-bar{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-logo img{
    width: 108px;
    margin: 8px 0;
}
.nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-item .items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}
.nav-item li{
    color: white;
    list-style: none;
    font-size: 1rem;
}
.nav-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-login .login{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 1rem;
}
.nav-login .signup{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 53px;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
}
@media(min-width:0px) and (max-width:480px){
    #nav{
        width: 100%;
        overflow-x: hidden;

    }
    .nav-bar{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-item{
        display: none;
    }
    .nav-login{
        display: none;
    }
}
@media(min-width:481px) and (max-width:820px){
    #nav{
        width: 100%;
        margin: 0px;
        overflow-x: hidden;

    }
    .nav-bar{
        margin: auto;
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-item{
        display: none;
    }
    .nav-login{
        display: none;
    }
}
@media(min-width:1500px){
    #nav{
        width: 100vw;
        overflow-x: hidden;        
    }
    .nav-logo img{
        width: 130px;
    }
    .nav-item li{
        font-size: 1.5rem;
    }
    .nav-login .login{
        font-size: 1.5rem;
    }
    .nav-login .signup{
        font-size: 1.5rem;
    }
}