#security{
    width: 100%;
    height: 750px;
    background-color: rgba(0, 28, 128, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}
.security-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.security-nav .e19{
    position: absolute;
    top: 50px;
    left: 0px;
}
.security-nav ul{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 1rem;
    transition: all 0.3s;
    cursor: pointer;
}
.security-nav ul li:hover{
    color: #FFC83E;
}
.security-container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.security-container .security-img{
    width: 750px; 
}

.security-text{
    width: 40%;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    align-items: flex-start;
    justify-content: flex-start;
}
.security-text h5{
    width: 100%;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-right: 1rem;    

}
.security-text p{
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    font-weight: normal;
    margin-bottom: 2rem;
    margin-right: 1rem;    
}
.security-text button{
    width: 150px;
    height: 50px;
    color: white;
    background-color: rgba(253, 76, 92, 1);
    padding: auto;
    border: none;
    border-radius: 50px;
}
@media(min-width:0px) and (max-width:480px){
    #security{
        width: 100%;
        overflow-x: hidden;

        height: 800px;
        background-color: rgba(0, 28, 128, 1);
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        gap: 5rem;
        position: relative;
    }
    .security-nav{
        display:flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        margin-bottom: 1.5rem;
    }
    .e19{
        display: none;
    }
    .security-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .line{
        display: none;
    }
    .security-container{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 250px;
    }
    .security-container .security-img{
        width: 400px;
        left: 0px;
        top: 20x;
    }
    .security-container .security-text{
        position: absolute;
        width: 100%;
        top: 250px;
    }
    .security-container .security-text h5{
        font-size: 1.5rem;
    }
    .security-container .security-text p{
        font-size: 0.8rem;
    }
    .e21{
        width: 25px;
        position: absolute;
        top: 470px;
        right: 30px;
    }
}

@media(min-width:1500px){
    #security{
        width: 100vw;
        height: 900px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
    .security-nav ul li {
        font-size: 2rem;
    }
    .line{
        width: 900px;
    }
    .security-container{
        width: 85%;
    }
    .security-img{
        width: 900px;
    }
    .security-text h5{
        font-size: 3.5rem;
    }
    .security-text p{
        font-size: 1.5rem;
        width: 600px;
    }
    .security-text button{
        width: 200px;
        height: 70px;
    }
    .e21{
        position: absolute;
        top:900px;
    }
}
